body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;

    padding: 30px 0;
}

nav {
    background-color: #333;
    justify-content: flex-end;
    display: flex;
   
  
}

nav a {
    color: rgb(238, 232, 232);
    font-family: 'Times New Roman', Times, serif;
    padding: 14px 20px;
    font: bold;
    text-decoration: none;
    display: inline-block;
    justify-content: flex-end;
  
}

nav a:hover {
    background-color: #ddd;
    color: rgb(22, 3, 3);
}

section {
    padding: 20px;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  justify-content: end;
}
